<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
          <processor type="Sitecore.Support.Modules.EmailCampaign.Core.SwitchECMCoreFactory, Sitecore.Support.417993"/>
      </initialize>
    </pipelines>
    <settings>
      <!--    Sitecore.Support.417993:
              Name of the user which will recive Import Recipient report by email
              Default value: "sitecore\admin"
      -->
      <setting name="RecipientImporterExt.SendTo" value="sitecore\admin"/>

      <!--    Sitecore.Support.417993:
              Path to the message that will be used as template
              Default value: "/sitecore/content/Home/Email Campaign/Messages/Service Messages/Self-Service Subscription/Subscription Notification"
      -->
      <setting name="RecipientImporterExt.MessagePath" value="/sitecore/content/Home/Email Campaign/Messages/Service Messages/Self-Service Subscription/Subscription Notification"/>

      <!--    Sitecore.Support.417993:
              The relative path to the folder under website root with generated reports
              Default value: "/temp"
      -->
      <setting name="RecipientImporterExt.PathToEmailReport" value="/temp"/>

      
    </settings>
  </sitecore>
</configuration>
